<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <link rel='stylesheet' type='text/css' href='./stylesheets/menu.css' > -->
    <title>22Berry | Kitchen Staff </title>
  </head>
  <body>
    <h1>Kitchen Staff Display</h1>
  </body>
</html>
